/* Root Variables */
:root {
    --primary-color: #202020;
    --secondary-color: #757575;
    --bg-color: #ffffff;
    --third-color: #172c50;
    --light-border-color: rgba(117, 117, 117, 0.5);
}

/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

/* Header Section */
#header-section {
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 1.25rem 1.5rem;
}

#header-logo-text {
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

.header-icon {
    width: 24px;
}

/* Page Heading Section */
#page-heading-section {
    background-color: var(--bg-color);
    padding: 0 1.5rem;
    text-align: center;
}

#page-heading {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--primary-color);
    margin-bottom: 0.5rem;
}

#page-description {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--secondary-color);
}

/* form section */

.form-section {
    background-color: var(--bg-color);
    padding: 0 1.5rem 3rem;
}

#checkout-form {
    width: 100%;
    max-width: 900px;
}

input,
select {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px var(--light-border-color) solid;
    background-color: var(--bg-color);
    font-size: 1rem;
}

select {
    padding-bottom: 0.3125rem;
    margin-bottom: 0.5625rem;
}

.legend-text,
#order-summary-heading {
    font-size: 0.8125rem;
    font-weight: 700;
    padding: 0.75rem 0;
}

.row {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.top-label {
    font-size: 0.8125rem;
    color: var(--primary-color);
}

.place-label {
    font-size: 1rem;
    color: var(--secondary-color);
    position: absolute;
    top: 18px;
    transition: all 0.2s ease-in-out;
}

.place-input:focus + .place-label,
.place-input:not(:placeholder-shown) + .place-label {
    transform: translateY(-18px);
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--primary-color);
}

.place-input:invalid:not(:focus) + .place-label {
    color: red;
}

.place-input:invalid:not(:focus) + .place-label + .below-border {
    width: 100%;
    background-color: red;
}

.below-border {
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: all 0.2s ease-in-out;
    align-self: center;
}

.place-input:focus + .place-label + .below-border {
    width: 100%;
}

.state-z-code,
.expiry-date {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

.state,
.zip-code,
.expiry-month,
.expiry-year,
.cvv-number {
    width: 100%;
}

.country {
    display: flex;
    flex-direction: column;
    row-gap: 0.375rem;
}

.billing-address-check {
    display: grid;
    grid-template-columns: 16px 1fr;
    margin: 1.75rem 0 0.75rem;
}

#billing-checkbox {
    width: 16px;
    height: 16px;
}

#billing-checkbox-label {
    font-size: 0.8125rem;
    margin-left: 0.75rem;
}

#billing-address {
    display: none;
    width: 100%;
    margin-top: 1rem;
    margin-top: 0.75rem;
    grid-column: 1 / 3;
}

#billing-checkbox:checked + #billing-checkbox-label + #billing-address {
    display: block;
}

.cvv-number input {
    margin: 0;
}

table {
    width: 100%;
}

tr {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

td {
    font-size: 0.8125rem;
    font-weight: 400;
}

.order-button {
    background-color: var(--third-color);
    color: var(--bg-color);
    width: 100vw;
    padding: 1.25rem 0;
    position: fixed;
    bottom: 0;
    left: 0;
}

#footer-section {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 10px;
}

#footer-section a {
    font-size: 0.8125rem;
    color: var(--secondary-color);
}

#footer-section p {
    font-size: 0.8125rem;
    background-color: var(--primary-color);
    color: var(--bg-color);
    padding: 0.6125rem 2rem;

}

@media only screen and (min-width: 768px) {
    .header-section {
        padding: 1.25rem 1.5rem 5.375rem 1.5rem;
    }

    #hamburger-icon {
        visibility: hidden;
    }

    .form-section {
        display: flex;
        justify-content: center;
        padding: 3rem 1.5rem;
    }

    #checkout-form {
        display: flex;
        justify-content: center;
        column-gap: 5rem;
        position: relative;
    }

    .first-col,
    .second-col {
        width: 100%;
    }

    .second-col {
        display: flex;
        flex-direction: column;
    }

    .order-button {
        width: 12rem;
        height: 2.25rem;
        padding: 0;
        margin: 0;
        position: static;
        color: var(--primary-color);
        background-color: var(--bg-color);
        border: 0.1rem solid var(--primary-color);
    }
}